/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisual {
  position: relative;

  .c-mainvisual__slide {
    height: 538px;
    width: 100%;
    background-size: cover;
    background-position: center;
    @include sp {
      height: 215px;
    }
  }

  .c-mainvisual__heading {
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 614px;
    margin: 179px auto 50px;
    transform: translateX(10px);
    background-image: url("../../assets/img/mv1-text.png");

    h1 {
      text-indent: -9999px;
    }
    @include sp {
      height: 25px;
      margin: 57px auto 22px;
      width: 249px;
      transform: translateX(0px);
    }
  }

  .c-mainvisual__title {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 0 5px rgba($color: #000, $alpha: 0.9);
    padding-left: 26px;
    letter-spacing: -1.1px;
    @include sp {
      font-size: 1.3rem;
      line-height: 1.5;
      padding-left: 27px;
      letter-spacing: -0.6px;
      transform: translateX(-11px);
    }
  }

  .c-mainvisual__subtitle {
    position: absolute;
    left: 49.7%;
    transform: translateX(-50%);
    top: 46.5%;
    letter-spacing: -1.8px;
    @include sp {
      letter-spacing: -0.6px;
      padding-left: 0;
    }
  }

  .c-mainvisual__slide1 {
    background-image: url("../../assets/img/mv1.jpg");
    @include sp {
      background-image: url("../../assets/img/mv1-sp.jpg");
    }
  }

  .c-mainvisual__slide2 {
    background-image: url("../../assets/img/mv2.jpg");
  }

  .c-mainvisual__slide3 {
    background-image: url("../../assets/img/mv3.jpg");
  }
}
