/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

@font-face {
  font-family: "HiraginoMincho";
  src: url("../../assets/fonts/HiraginoMinchoPro.otf");
}
@font-face {
  font-family: "SoukouMincho";
  src: url("../../assets/fonts/SoukouMincho.ttf");
}
.c-intro {
  background: #eee;
  padding: 50px 14px 90px;
  @include sp {
    padding: 12px 0px 0px;
  }
  .c-intro__tabs {
    display: flex;
    margin-top: 11px;
  }

  .c-intro__tab {
    color: #fff;
    text-align: center;
    width: 50%;
    background: $black;
    padding: 13px 0 17px;
    line-height: 1.5;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      opacity: 0.7;
      transition: 0.4s;
    }
    @include tab {
      width: 100%;
    }
    @include sp {
      padding: 8px 0 10px;
    }
  }

  .c-intro__tab--active {
    background: $yellow;
    position: relative;
    color: $black;
    cursor: default;
    &:hover {
      opacity: 1;
    }
    &::after {
      content: "";
      position: absolute;
      width: 0;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $yellow;
    }
  }

  .c-intro__tabtitle {
    letter-spacing: -0.9px;
    font-size: 2.2rem;
    font-family: HiraginoMincho, serif;
    font-weight: 600;
  }

  .c-intro__tabsubtitle {
    font-size: 1.4rem;
    letter-spacing: -0.4px;
    font-weight: 500;
    @include sp {
      font-size: 1.3rem;
    }
  }

  .c-intro__tabsubtitle--right {
    transform: translateY(-2px);
  }

  .c-intro__content {
    background: #fff;
    padding-bottom: 64px;
    display: none;
  }
  .c-intro__content--active {
    display: block !important;
  }
  .c-intro__service {
    display: flex;
    padding: 64px 63px 0;
    @include tab {
      padding: 0px 63px 0;
      flex-direction: column;
    }
    @include sp {
      padding: 0px 20px 0;
    }
  }

  .c-intro__serviceleft {
    width: 48.3%;
    @include tab {
      width: 100%;
    }
    @include sp {
      padding: 0 22px;
    }
  }

  .c-intro__serviceimg {
    width: 100%;
  }

  .c-intro__serviceright {
    width: 48.3%;
    padding-left: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tab {
      width: 100%;
      padding-left: 0;
    }
    @include sp {
    }
  }

  .c-intro__servicetitle {
    font-size: 2.4rem;
    color: $black;
    font-weight: 500;
    line-height: 1.25;
    padding-top: 5px;
    letter-spacing: -1px;
    max-width: 377px;
    @include tab {
      padding-top: 30px;
    }
    @include sp {
      font-size: 1.6rem;
      padding-top: 14px;
      max-width: 247px;
      letter-spacing: -0.7px;
    }
  }

  .c-intro__servicedes {
    font-size: 1.5rem;
    color: $black;
    font-weight: 500;
    line-height: 1.74;
    padding-top: 34px;
    letter-spacing: -1.5px;
    max-width: 432px;
    @include tab {
      padding-top: 30px;
      max-width: 566px;
      padding-bottom: 30px;
    }
    @include sp {
      padding-top: 15px;
      max-width: 276px;
      padding-bottom: 12px;
      letter-spacing: -1.6px;
      line-height: 1.25;
    }
  }
  .c-intro__contentsp {
    background: #fff;
  }
  .c-intro__teltitle {
    font-size: 2rem;
    color: $black;
    font-weight: 500;
    text-align: center;
    @include sp {
      font-size: 1.6rem;
      letter-spacing: -1.3px;
      max-width: 293px;
      margin: 0 auto;
      line-height: 1.3;
    }
  }
  .c-intro__banner {
    width: fit-content;
    margin: 27px auto;
    background: #fff;
    text-align: center;
    border: 2px solid rgb(130, 20, 26);
    @include sp {
      padding-top: 8px;
      margin: 10px auto;
      line-height: 1.56;
    }
  }
  .c-intro__tel {
    font-family: SoukouMincho, serif;
    font-size: 3rem;
    text-align: center;
    @include sp {
      font-size: 2rem;
    }
  }
  .c-intro__tellabel {
    font-weight: 500;
    font-family: YuGothic;
    font-size: 1.4rem;
    text-align: center;
    @include sp {
      font-size: 1.6rem;
    }
  }
  .c-intro__teldes {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 18px 10px;
    @include sp {
      font-size: 1.3rem;
      padding: 3px 44px 8px;
      letter-spacing: -1.3px;
    }
  }
  .c-intro__button {
    background: $yellow;
    padding: 14px 76px 13px 55px;
    display: block;
    font-size: 1.5rem;
    color: $black;
    font-weight: 500;
    width: fit-content;
    letter-spacing: 0.6px;
    position: relative;
    margin-bottom: 5.9%;

    &::after {
      content: "\f105";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      right: 56px;
    }
    @include tab {
      width: auto;
      text-align: center;
    }
    @include sp {
      font-size: 1.6rem;
      padding: 6px 18px 2px 17px;
      letter-spacing: -0.8px;
      text-align: left;
      &::after {
        right: 21px;
      }
    }
  }

  .c-intro__guide {
    display: flex;
    margin-top: 61px;
    padding: 0 64px;
    justify-content: space-between;
    @include tab {
      flex-direction: column;
      padding: 0 64px 61px;
    }
    @include sp {
      margin-top: 3px;
      padding: 0px 20px 24px;
    }
  }
  .c-intro__tab1 > .c-intro__tabsubtitle {
    @include sp {
      max-width: 300px;
      transform: translateX(0);
      margin: 0 auto;
    }
  }
  .c-intro__service2 > .c-intro__servicetitle {
    @include sp {
      max-width: 286px;
    }
  }
  .c-intro__service2 > .c-intro__servicedes {
    @include sp {
      letter-spacing: -0.4px;
      line-height: 1.26;
    }
  }
  .c-intro__guidelabel {
    background: $black;
    color: #fff;
    padding: 65px 78px 59px 73px;
    width: 27%;
    min-width: 264px;
    @include tab {
      width: 100%;
      text-align: center;
    }
    @include sp {
      padding: 3px 35px 1px 34px;
    }
  }

  .c-intro__guidelabeljp {
    font-family: HiraginoMincho, serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -1.3px;
    @include tab {
      text-align: center;
    }
    @include sp {
      letter-spacing: -0.7px;
      font-size: 1.8rem;
    }
  }

  .c-intro__guidelabelen {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    transform: translate(17px, -10px);
  }

  .c-intro__guideitems {
    display: flex;
    width: 73%;
    background: #eee;
    @include tab {
      width: 100%;
      flex-direction: column;
    }
  }

  .c-intro__guideitem {
    display: flex;
    justify-content: center;
    width: 24.7%;
    flex-direction: column;
    text-align: center;
    width: 95%;
    &:nth-child(1) {
      transform: translateX(24px);
    }

    &:nth-child(2) {
      transform: translateX(5px);
    }

    &:nth-child(3) {
      transform: translateX(-16px);
    }

    &:nth-child(4) {
      transform: translateX(-35px);
    }
    @include tab {
      flex-direction: row;
      width: 100%;
      justify-content: start;
      align-items: center;
      margin-top: 30px;
      padding-left: 30px;
      &:nth-child(1) {
        transform: translateX(0);
      }

      &:nth-child(2) {
        transform: translateX(0);
      }

      &:nth-child(3) {
        transform: translateX(0);
      }

      &:nth-child(4) {
        transform: translateX(0);
        margin-bottom: 30px;
      }
      &::after {
        content: "\f105";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        position: absolute;
        right: 56px;
      }
    }
    @include sp {
      margin-top: 12px;
      padding-left: 20px;
      width: auto;
      margin-bottom: 3px;
      &::after {
        right: 21px;
        top: 14px;
      }
      &:last-child {
        margin-bottom: 11px;
        margin-top: 12px;
      }
    }
  }

  .c-intro__guideimg {
    width: 53%;
    border-radius: 50%;
    display: inline-flex;
    align-self: center;
    min-height: 96px;
    padding-top: 4px;
    @include tab {
      width: 19%;
      min-height: initial;
      align-self: initial;
    }
    @include sp {
      min-height: initial;
      width: 19.44%;

    }
  }

  .c-intro__guidetext {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.9px;
    padding-top: 6px;
    @include tab {
      padding-left: 6%;
    }
    @include sp {
      padding-left: 4.9%;
    }
  }

  .c-intro__content2 {
    display: none;
  }
}
