/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
@font-face {
  font-family: "HiraginoMinchoW3";
  src: url("../../assets/fonts/HiraginoMinchoProW3.otf");
}

.c-news {
  padding-top: 66px;
  .c-news__heading {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .c-news__subheading {
    text-align: center;
    font-family: HiraginoMinchoW3;
    font-size: 1.5rem;
    letter-spacing: -2.1px;
  }

  .c-news__items {
    margin-top: 65px;
    @include tab {
      margin-top: 32px;
    }
  }
  .c-news__label {
    display: flex;
    align-items: center;
    @include tab {
      margin-left: 27px;
    }
  }
  .c-news__item {
    display: flex;
    justify-content: space-between;
    position: relative;

    &:first-child {
      padding-bottom: 18px;
    }

    &:not(:first-child) {
      padding: 20px 0 18px;
    }
  }

  .c-news__dotted {
    position: absolute;
    bottom: -1px;
  }

  .c-news__top {
    display: flex;
    border-bottom: 1px solid $black;
    padding-bottom: 2px;
  }

  .c-news__topbtn {
    position: relative;
    margin-left: auto;

    line-height: 1.7;

    &::after {
      content: "\f105";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      left: -17px;
      top: -2px;
    }
  }

  .c-news__itembtn {
    position: relative;

    &::after {
      content: "\f101";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      right: 13px;
      top: 2px;
    }
    @include tab {
      &::after {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .c-news__itemcontent {
    font-size: 1.5rem;
    font-weight: 500;
    color: $black;
    display: flex;
    align-items: center;
    @include tab {
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
    }
  }

  .c-news__date {
    letter-spacing: -0.4px;
    line-height: 1.4;
  }
  .c-news__categories {
    padding-left: 33px;
  }
  .c-news__category {
    display: inline-block;
    padding: 3px 30px;
    line-height: 1.4;
    background: $yellow;
    border-radius: 14px;

    &:not(:first-child) {
      margin-left: 4px;
    }
  }

  .c-news__title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4;
    margin-left: 27px;
    letter-spacing: 1px;
    @include tab {
      margin-top: 27px;
    }
  }
}
