/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
@font-face {
  font-family: "HiraginoMinchoW3";
  src: url("../../assets/fonts/HiraginoMinchoProW3.otf");
}
.c-recruit {
  padding: 100px 14px 0;
  @include sp {
    padding: 3px 19px 0;
  }
  .c-recruit__content {
    display: flex;
    @include tab {
      flex-direction: column;
    }
  }
  .c-recruit__label {
    font-family: HiraginoMinchoW3;
    color: #000;
    padding: 5px 11px 5px 12px;
    border: 1px solid #000;
    line-height: 1;
    letter-spacing: 1.5px;
    font-size: 1.6rem;
    display: inline-block;
    width: fit-content;
    @include sp {
      letter-spacing: -0.3px;
      color: #222;
      padding: 5px 10px 2px 10px;
    }
  }
  .c-recruit__title {
    font-size: 2.4rem;
    color: $black;
    padding-top: 6px;
    letter-spacing: -1.1px;
    font-weight: 500;
    @include tab {
      padding-top: 24px;
    }
    @include sp {
      font-size: 1.8rem;
      padding-top: 2px;
      letter-spacing: -0.9px;
    }
  }
  .c-recruit__des {
    font-size: 1.5rem;
    color: #222;
    padding-top: 24px;
    max-width: 496px;
    letter-spacing: -0.8px;
    padding-left: 1px;
    line-height: 1.68;
    @include sp {
      padding-left: 0px;
      padding-top: 8px;
      line-height: 1.39;
    }
  }
  .c-recruit__info {
    width: 40.4%;
    background: $yellow;
    padding-left: 4.3%;
    padding-top: 4.2%;
    @include tab {
      width: 100%;
      padding-left: 0;
      background: none;
    }
  }
  .c-footer__labeltop {
    font-size: 1.5rem;
  }
  .c-recruit__bg {
    width: 59.5%;
    @include tab {
      width: 100%;
      padding-top: 24px;
      img {
        width: 100%;
      }
    }
    @include sp {
      padding-top: 4px;
    }
  }
}
