/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
@font-face {
  font-family: "HiraginoMincho";
  src: url("../../assets/fonts/HiraginoMinchoPro.otf");
}
.c-faq {
  --deg: 0deg;
  padding: 0px 10px;
  .c-faq__navitems {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;

  }
  .c-faq__navitem {
    padding: 17px 10px 17px 23px;
    border: 1px solid #ccc;
    font-size: 1.6rem;
    display: block;
    font-weight: 500;
    color: #222;
    width: 31.5%;
    text-align: center;
    letter-spacing: -0.2px;
    margin-bottom: 30px;
    margin-right: 2.71%;
    position: relative;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
      transition: 0.4s;
    }
    &:nth-of-type(3n) {
      margin-right: 0;
      @include sp {
        margin-right: 2.71%;
      }
    }
    &:nth-of-type(2n) {
      @include sp {
        margin-right: 0;
      }
    }
    @include tab {
      font-size: 1.3rem;
    }
    @include sp {
      width: 48.6%;
    }
  }
  .c-faq__navitemttitle {
    position: relative;
    &::before {
      content: "\f105";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      left: -14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .c-faq__question {
    padding: 26px 0;
    position: relative;
    border-bottom: 1px solid #ccc;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
      transition: 0.4s;
      opacity: 0.7;
    }
    &::after {
      content: "\f107";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      right: 21px;
      font-size: 1.9rem;
      top: 50%;
      transform: translateY(-40%) rotate(var(--deg));
    }
    @include sp {
      &::after{
        right: 10px;
      }
    }
  }
  .c-faq__topicitem {
    &:not(:first-child) {
      margin-top: -1px;
      line-height: 1.5;
      .c-faq__question {
        &::after {
          transform: translateY(-36.4%) rotate(var(--deg));
        }
      }
    }
  }
  .c-faq__questiontitle {
    font-size: 2rem;
    font-family: HiraginoMincho, serif;
    font-weight: 600;
    position: relative;
    padding-left: 61px;
    letter-spacing: -1.5px;
    transform: translateY(3%);
    &::before {
      content: "Q";
      color: #fff;
      background: #000;
      padding: 3px 11px;
      letter-spacing: 0px;
      font-size: 2.4rem;
      margin-left: 0px;
      position: absolute;
      top: -6px;
      left: 0;
    }
    @include tab {
      font-size: 1.7rem;
    }
    @include sp {
      font-size: 1.5rem;
      max-width: 613px;
      letter-spacing: 1px;
      width: 100%;
      padding-right: 31px;
      &::before {
        transform: translateY(-50%);
        top: 50%;
        }
    }
  }
  .c-faq__topic {
    &:not(:first-child) {
      padding-top: 30px;
    }
  }
  .c-faq__topicitems {
    margin-top: 10px;
  }
  .c-faq__title {
    font-size: 2.4rem;
    font-family: HiraginoMincho, serif;
    font-weight: 600;
    color: #fff;
    background-image: url("../../assets/img/faq-title.png");
    padding: 18px 0 21px;
    text-align: center;
    letter-spacing: -1.2px;
    margin-top: 19px;
    @include sp {
      font-size: 1.8rem;
    }
  }
  .c-faq__answer {
    margin-top: 8px;
    border-bottom: 1px solid #ccc;
    padding: 45px 0;
    display: none;
  }
  .c-faq__answercontent {
    font-size: 1.5rem;
    padding-left: 61px;
    position: relative;
    letter-spacing: -1px;
    &::before {
      content: "A";
      color: #fff;
      background: $yellow;
      padding: 2px 13px;
      letter-spacing: -0.3px;
      margin-left: 0px;
      position: absolute;
      top: -12px;
      font-size: 2.4rem;
      left: 0;
    }
    @include tab {
      font-size: 1.3rem;
    }
    @include sp {
      &::before {
        transform: translateY(-50%);
        top: 50%;
      }
    }
  }
}
