/* Header
------------------------------------------------------------*/
.c-header {
  @include tab {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
  }
  .c-header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    position: relative;
    background: rgba(255, 255, 255, 1);
    margin: 0 auto;
    @include sp {
      padding: 7px 0;
    }
  }

  .c-header__logo {
    width: 21%;
    @include tab {
      width: 29%;
    }
    @include sp {
      width: 60.1%;
      transform: translateY(4px);
    }
  }

  .c-header__items {
    width: 63%;
    font-size: 1.5rem;
    letter-spacing: -1.8px;
    transform: translateY(-1px);
    min-width: 700px;
  }

  .c-header__top {
    background: $black;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .c-header__topitem {
    padding: 6px 3px;
    margin: 0 auto;
    text-align: right;
    letter-spacing: -0.9px;
  }

  .c-header__news {
    margin-right: 33px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      height: 10px;
      width: 1px;
      right: -18px;
      top: 3px;
      background-color: #fff;
    }
  }

  .c-gnav {
    display: flex;
    color: #000;

    li {
      padding-left: 45px;

      &:first-child {
        padding-left: 0;
      }

      &:nth-child(3) {
        letter-spacing: -0.3px;
      }

      &:nth-child(4) {
        letter-spacing: -0.1px;
      }

      &:nth-child(5) {
        letter-spacing: -0.8px;
      }

      &:nth-child(6) {
        letter-spacing: -0.8px;
      }

      &:nth-child(7) {
        letter-spacing: 0.2px;
      }

      a {
        position: relative;

        &:hover {
          &::after {
            content: "";
            width: 100%;
            height: 2px;
            background: #ccc;
            position: absolute;
            bottom: -10px;
            left: 0;
          }
        }
      }
    }
  }
  .c-header__menu {
    width: 39px;
    @include sp {
      width: 35px;
    }
  }
  .c-header__icon {
    display: none;
  }
  .c-header__icon--active {
    display: block;
  }
  .c-header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $black;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 9999;
    margin-top: 93px;
    height: -webkit-calc(100% - 93px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.4s;
    transform: translateX(100%);
    @include sp {
      height: -webkit-calc(100% - 56px);
      margin-top: 56px;
    }
  }
  .c-header__overlay--active {
    transform: translateX(0);
  }
}
/* Main menu
------------------------------------------------------------*/
