/* layout
------------------------------------------------------------*/
@font-face {
    font-family: "YuGothic";
    src: url("../../assets/fonts/YuGothM.ttc");
}

body {
    font-family: YuGothic;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------

//-------------------------------------------------------
.c-heading {
    font-size: 3rem;
    font-weight: 600;
    color: #222;
}

.l-container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
}

.l-container--1000 {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
//-------------------------------------------------------
