<section class="c-company">
    <div class="c-company__banner">
        <img class="c-company__bg" src="./assets/img/company.jpg" alt="">
        <div class="c-company__info">
            <span class=""></span>
        </div>
      </div>
</section>