<section class="c-contact">
  <div class="l-container">
    <h2 class="c-contact__heading">お問い合わせ</h2>
    <div class="c-contact__form">
      <form action="submit" id="form">
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="type"
              >お問い合わせの種類</label
            >
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <label class="c-contact__radio">
            <input
              class="c-contact__inputtext"
              id="type"
              type="radio"
              value=""
            />
            コールメンバー登録
          </label>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="name">お名前</label>

            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__input">
            <input
              class="c-contact__inputtext"
              id="name"
              name="name"
              type="text"
              value=""
            />
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="furigana">ふりがな</label>
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__input">
            <input
              class="c-contact__inputtext"
              id="furigana"
              name="furigana"
              type="text"
              value=""
            />
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="postal">郵便番号</label>
          </div>
          <div class="c-contact__inputaddress">
            <div class="c-contact__inputgroup">
              <div class="c-contact__input c-contact__inputadjust">
                <label
                  class="c-contact__labelname c-contact__labelnameadjust"
                  for="postal"
                  >〒</label
                >
                <input
                  class="c-contact__inputtext c-contact__inputtextadjust"
                  id="postal"
                  type="text"
                  value=""
                />
              </div>
              <div class="c-contact__input c-contact__inputadjust">
                <input
                  class="c-contact__inputtext"
                  id="postal2"
                  type="text"
                  value=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="address">ご住所</label>
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__input">
            <input
              class="c-contact__inputtext"
              id="address"
              name="address"
              type="text"
              value=""
            />
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="phone1">お電話番号</label>
          </div>
          <div class="c-contact__inputaddress">
            <div class="c-contact__inputgroup">
              <div class="c-contact__input c-contact__inputadjust">
                <input
                  class="c-contact__inputtext"
                  id="phone1"
                  type="text"
                  value=""
                />
              </div>
              <div class="c-contact__input c-contact__inputadjust">
                <input
                  class="c-contact__inputtext"
                  id="phone2"
                  type="text"
                  value=""
                />
              </div>
              <div class="c-contact__input c-contact__inputadjust">
                <input
                  class="c-contact__inputtext"
                  id="phone3"
                  type="text"
                  value=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="email1"
              >メールアドレス</label
            >
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__input">
            <input
              class="c-contact__inputtext"
              id="email1"
              name="email"
              type="text"
              value=""
            />
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="email2"
              >メールアドレス</label
            >
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__input">
            <input
              class="c-contact__inputtext"
              id="email2"
              name="email"
              type="text"
              value=""
            />
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label
              class="c-contact__labelname c-contact__customlabel"
              for="content"
              >お問い合わせ内容</label
            >
            <label class="c-contact__labelstatus u-required">確認用</label>
          </div>
          <div class="c-contact__input">
            <textarea
              class="c-contact__inputtext c-contact__inputtextarea"
              id="content"
              name="content"
              rows="13"
              cols="33"
            ></textarea>
          </div>
        </div>
        <button class="c-contact__formsubmit" type="submit">確認する ></button>
      </form>
    </div>
  </div>
</section>
