<section class="c-contact">
  <div class="l-container">
    <h2 class="c-contact__heading">お問い合わせ</h2>
    <div class="c-contact__form">
      <form action="submit" id="form">
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="type"
              >お問い合わせの種類</label
            >
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__radiogroup">
            <div class="c-contact__radiogroupitems">
              <div class="c-contact__radio u-mt0">
                <input
                  class="c-radio__button"
                  id="type1"
                  type="radio"
                  name="inquiryType"
                  value=""
                >
                <label class="c-radio__label" for="type1">コールメンバー登録</label>
              </div>
              <div class="c-contact__radio">
                <input
                  class="c-radio__button"
                  id="type2"
                  name="inquiryType"
                  type="radio"
                  value=""
                >
                <label class="c-radio__label" for="type2">ハイヤーについて</label>
              </div>
              <div class="c-contact__radio">
                <input
                  class="c-radio__button"
                  id="type3"
                  type="radio"
                  name="inquiryType"
                  value=""
                >
                <label class="c-radio__label" for="type3">タクシーチケットについて</label>
              </div>
              <div class="c-contact__radio">
                <input
                  class="c-radio__button"
                  id="type4"
                  type="radio"
                  name="inquiryType"
                  value=""
                >
                <label class="c-radio__label" for="type4">プレス・取材について</label>
              </div>
            </div>
            <div class="c-contact__radiogroupitems">
              <div class="c-contact__radio u-mt0">
                <input
                  class="c-radio__button"
                  id="type5"
                  type="radio"
                  name="inquiryType"
                  value=""
                >
                <label class="c-radio__label" for="type5">タクシーについて</label>
              </div>
              <div class="c-contact__radio">
                <input
                  class="c-radio__button"
                  id="type6"
                  type="radio"
                  name="inquiryType"
                  value=""
                >
                <label class="c-radio__label" for="type6">コドライバー派遣について</label>
              </div>
              <div class="c-contact__radio">
                <input
                  class="c-radio__button"
                  id="type7"
                  type="radio"
                  name="inquiryType"
                  value=""
                >
                <label class="c-radio__label" for="type7">採用について</label>
              </div>
              <div class="c-contact__radio">
                <input
                  class="c-radio__button"
                  id="type8"
                  type="radio"
                  name="inquiryType"
                  value=""
                >
                <label class="c-radio__label" for="type8">その他</label>
              </div>
            </div>
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="name">お名前</label>
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__input">
            <input
              class="c-contact__inputtext"
              id="name"
              name="name"
              type="text"
              value=""
            >
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="furigana">ふりがな</label>
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__input">
            <input
              class="c-contact__inputtext"
              id="furigana"
              name="furigana"
              type="text"
              value=""
            >
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="postal">郵便番号</label>
          </div>
          <div class="c-contact__inputaddress">
            <div class="c-contact__inputgroup">
              <div class="c-contact__input c-contact__inputadjust">
                <label
                  class="c-contact__labelname c-contact__labelnameadjust"
                  for="postal"
                  >〒</label
                >
                <input
                  class="c-contact__inputtext"
                  id="postal"
                  type="text"
                  name="postal"
                  size="8" 
                  maxlength="8"
                  value=""
                >
              </div>
              <div
                class="c-contact__input c-contact__inputadjust c-contact__postal"
              >
                <input
                  class="c-contact__inputtext"
                  id="postal2"
                  name="postal2"
                  type="text"
                  value=""
                >
              </div>
            </div>
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="address">ご住所</label>
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__input">
            <input
              class="c-contact__inputtext"
              id="address"
              name="address"
              type="text"
              value=""
            >
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="phone1">お電話番号</label>
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__inputphone">
            <div class="c-contact__inputgroup">
              <div
                class="c-contact__input c-contact__inputadjust c-contact__phone"
              >
                <input
                  class="c-contact__inputtext"
                  id="phone1"
                  name="phone1"
                  type="tel"
                  minlength="2"
                  maxlength="2"
                  value=""
                >
              </div>
              <div
                class="c-contact__input c-contact__inputadjust c-contact__phone"
              >
                <input
                  class="c-contact__inputtext"
                  id="phone2"
                  type="tel"
                  name="phone2"
                  minlength="4"
                  maxlength="4"
                  value=""
                >
              </div>
              <div
                class="c-contact__input c-contact__inputadjust c-contact__phone"
              >
                <input
                  class="c-contact__inputtext"
                  id="phone3"
                  type="tel"
                  name="phone3"
                  minlength="4"
                  maxlength="4"
                  value=""
                >
              </div>
            </div>
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="email"
              >メールアドレス</label
            >
            <label class="c-contact__labelstatus u-required">必須</label>
          </div>
          <div class="c-contact__input">
            <input
              class="c-contact__inputtext"
              id="email"
              name="email"
              type="email"
              value=""
            >
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelname" for="email-confirm"
              >メールアドレス</label
            >
            <label class="c-contact__labelstatus u-required">確認用</label>
          </div>
          <div class="c-contact__input">
            <input
              class="c-contact__inputtext"
              id="email-confirm"
              name="emailConfirm"
              type="email"
              value=""
            >
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label
              class="c-contact__labelname c-contact__customlabel"
              for="content"
              >お問い合わせ内容</label
            >
          </div>
          <div class="c-contact__input">
            <textarea
              class="c-contact__inputtext c-contact__inputtextarea"
              id="content"
              name="content"
              rows="12"
              cols="33"
            ></textarea>
          </div>
        </div>
        <button class="c-contact__formsubmit" type="submit">
          送信内容を確認する
        </button>
      </form>
    </div>
    <div class="c-contact__footer">
      <div class="l-container--1000">
        <p class="c-contact__footertitle">
          お問い合わせで、数時間たってもメールの返信がない場合、またはお急ぎの場合は、直接お電話下さいますようお願い申し上げます。
        </p>
        <p class="c-contact__phonelisttitle">【お問い合わせの電話連絡先】</p>
        <ul class="c-contact__phonelist">
            <% if (typeof phoneList != 'undefined') { %>
                <% phoneList.items && phoneList.items.forEach((item) => { %>
                    <li class="c-contact__phoneitem">
                        <span class="c-contact__phonelabel"><%= item.name %></span>
                        <a class="c-contact__phonenumber" href="tel:<%=item.number%>"><%= item.number %></a>
                      </li>
                <% }) %>
            <% } %>
        </ul>
        <p class="c-contact__note">
          当社はお客さまの個人情報について細心の注意を払って取り扱います。
        </p>
        <p class="c-contact__note">
          詳しくは、当社の <a class="c-contact__notelink" href="#">プライバシーポリシー</a> をご覧ください。
        </p>
      </div>
    </div>
  </div>
</section>
