<header class="c-header">
  <div class="c-header__top is-pc">
    <div class="c-header__topitem l-container--1140">
      <a class="c-header__news" href="#">ニュースリリース</a>
      <a class="c-header__faq" href="#">よくあるご質問</a>
    </div>
  </div>
  <div class="c-header__main l-container--1140">
    <h1 class="c-header__logo"><a href="index.html"><img src="./assets/img/logo.png" alt="Logo"></a></h1>
    <nav class="c-header__items is-pc">
      <ul class="c-gnav">
        <% if (typeof linklists != 'undefined') { %>
          <% linklists.main && linklists.main.forEach(link => { %>
            <li>
              <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
              <% if (link.links) { %>
                <ul>
                  <% link.links.forEach(child_link => { %>
                    <li>
                      <a <% if (child_link.current) { %>class="is-active"<% } %> href="<%= child_link.url %>"><%= child_link.title %></a>
                    </li>
                  <% }) %>
                </ul>
              <% } %>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </nav>
    <div class="c-header__menu is-tab">
      <img class="c-header__icon c-header__open c-header__icon--active" src="./assets/img/menu-open@2x.png" alt="menu">
      <img class="c-header__icon c-header__close" src="./assets/img/menu-close.png" alt="menu">
    </div>
  </div>
  <div class="c-header__overlay is-tab">
    <ul class="c-header__overlayitems">
      <li class="c-header__overlayitem">
        <a href="#">タクシー</a>
      </li>
      <li class="c-header__overlayitem">
        <a href="#">ハイヤー</a>
      </li>
      <li class="c-header__overlayitem">
        <a href="#">会社情報</a>
      </li>
      <li class="c-header__overlayitem">
        <a href="#">車両情報</a>
      </li>
      <li class="c-header__overlayitem">
        <a href="#">新卒採用</a>
      </li>
      <li class="c-header__overlayitem">
        <a href="#">中途採用</a>
      </li>
      <li class="c-header__overlayitem">
        <a href="#">よくあるご質問</a>
      </li>
      <li class="c-header__overlayitem">
        <a href="contact.html">お問い合わせ</a>
      </li>
      <li class="c-header__overlayitem">
        <a href="#">ニュースリリース</a>
      </li>
      <li class="c-header__overlayitem">
        <a href="#">プライバシーポリシー</a>
      </li>
    </ul>
    <div class="c-header__banner">
      <div class="c-header__slides">
          <div class="c-header__slide c-header__slide1">
              <div class="c-header__mainslidetext">
                <div class="c-header__maininner">
                  <div class="c-header__heading">
                      <h1>First Class Service</h1>
                  </div>
                  <h2 class="c-header__title">積み重ねてきた信頼が、上質なサービスを生み出す。<br>
                  あくなきサービスの追求と革新へのチャレンジ！</h2>
                </div>
             </div>
          </div>
      </div>
    </div>
    <div class="c-nav__banner">
      <h4 class="c-header__teltitle">タクシーのご用命はこちら。<br class="is-sp">
        すぐにお近くのタクシーを手配いたします。</h4>
      <div class="c-header__bannertext">
        <a class="c-header__tel" href="tel:0664520055"><span class="c-header__tellabel">TEL.</span>06-6452-0055</a>
        <p class="c-header__teldes">※別途、お迎え料金がかかります。</p>
      </div>
    </div>
    
  </div>
</header>
