<section class="c-recruit">
  <div class="c-recruit__content l-container">
    <div class="c-recruit__info">
      <div>
        <span class="c-recruit__label">採用情報 Recruit</span>
        <h2 class="c-recruit__title">新しい未来に向かって挑戦</h2>
        <p class="c-recruit__des">
          新たなステージに向かって挑戦、<br> First
          Classなサービス作りに、加わりませんか。
        </p>
      </div>
    </div>
    <div class="c-recruit__bg">
      <picture>
        <source media="(min-width: 767px)" srcset="./assets/img/recruit-sp.jpg">
      </picture>
      <img src="./assets/img/recruit.jpg" alt="" >
    </div>
  </div>
</section>
